<!DOCTYPE html>
<html>
<head>
  <title>Cottage Game Night Mailing List</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <% if flash[:notice] || flash[:error] %>
      <div class="flash">
        <% if flash[:notice] %>
          <div class="notice">
            <%= flash[:notice] %>
          </div>
        <% elsif flash[:error] %>
          <div class="error">
            <%= flash[:error] %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
